#gamegrid{
width:500px;
margin-left:auto;
margin-right:auto;
}

#gamegrid .col{
background:#eaeaea;
display:block;
width:100px;
height:100px;
float:left;
text-align:center;
margin:10px;
}

#gamegrid .col span{
margin-top:35px;
display:block;
}
