#gamegrid{
width:500px;
margin-left:auto;
margin-right:auto;
}

#gamegrid .cell{
background:#eaeaea;
display:block;
width:100px;
height:100px;
float:left;
text-align:center;
margin:10px;
font-size:30px;
}

#gamegrid .cell span{
margin-top:35px;
display:block;
}

#gamegrid .active-cell{
background:#61B891;
color:#fff;
}
